#title {
    outline: 2px solid black;
    text-align: center;
}

#title, #new_item, #error{
    padding: 5px 0px;
    width: 70%;
    margin: auto;
}

#items{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 0px 0px 3%;
    margin: 2% 0%;
}

#new_item{
    display:flex;
}
#text_area{
    flex: 9;
    line-height: 3;
}
#add_item{
    flex: 1;
}

.theline{
    position: absolute;
    top: 30px;
    left: 3%;
}

#hline{
    width: 12%;
    height: 10px;
}

#vline{
    width: 10px ;
    height: 11%;
}

.item{
    /* display: inline;  */
    /* position: absolute; */
    float: inline-start;
    outline: 2px solid black;
    padding: 5px 20px;
    width: 90%;
}

.item_line{
    float: inline-start;
    width: 2%;
    height: 10px;
    background-color: black;
}

#error{
    text-align: center;
    height: 10px;
}