#title {
    outline: 2px solid black;
    text-align: center;
}

#title, #new_item, #error{
    padding: 5px 0px;
    width: 70%;
    margin: auto;
}

#new_item{
    display:flex;
}
#text_area{
    flex: 9;
    line-height: 3;
}
#add_item{
    flex: 1;
}

.theline{
    position: absolute;
    top: 30px;
    left: 3%;
}

#hline{
    width: 12%;
    height: 10px;
}

#vline{
    width: 10px ;
    height: 10%;
}

.item{
    outline: 2px solid black;
    height: 20%;
    padding: 5px;
    margin: 5%;
}
.item_line{
    position: absolute;
    left: 3%;
    width: 2%;
    height: 10px;
    background-color: black;
}

.item_index{
    position: absolute;
    left: 1%;
    width: fit-content;
}

#error{
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    padding: 5px;
}

